.graphListContainer {
  position: absolute;
  left: 0;
  top: 0;
}

.graphListContainerDraw {
  margin: 0 auto;
  min-width: 400px;
  margin: 0 50px;
  position: relative;
  margin-bottom: 50px;
  touch-action: none;
  overflow: auto;
}

.graphListCanvasContainer {
  width: fit-content;
}

.graphListSelect {
  width: 200px;
  padding: 10px;
  margin-bottom: 60px;
  border-radius: 8px;
  cursor: pointer;
}

#graphListCanvas {
  display: block;
  border: 1px dotted #000;
  z-index: 99;
}

#graphListCanvasBackground {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
